@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;600;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Familjen Grotesk', sans-serif;
    background: #000;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

/* Header/Navbar */

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    height: 100px;
    padding: 0 30px;
}

/* Logo */
.logo {
    width: 210px;
    height: auto;
}

.logo img {
    display: block;
    width: 100%;
    height: auto;
}

/* Desktop Menu */
.desktop-main-menu {
    margin-right: 50px;
}

.desktop-main-menu ul {
    display: flex;
}

.desktop-main-menu ul li {
    position: relative;
    margin-right: 20px;
    padding-bottom: 2px;
}

/* Menu item bottom border */
.desktop-main-menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    transform: scaleX(0);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: right center;
}

.desktop-main-menu ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left center;
    transition-duration: 0.4s;
}

/* Sections */
section {
    position: relative;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase;
}

.section-inner {
    position: absolute;
    bottom: 200px;
    left: 150px;
    max-width: 560px;
}

.section-inner h4 {
    font-size: 22px;
    margin-bottom: 5px;
    font-weight: 300;
    animation: fadeInUp 0.5s ease-in-out;
}

.section-inner h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    animation: fadeInUp 0.5s ease-in-out 0.2s;
    animation-fill-mode: both;
    /* Stop from showing at start */
}

.section-inner a {
    animation: fadeInUp 0.5s ease-in-out 0.4s;
    animation-fill-mode: both;
    /* Stop from showing at start */
}

/* Backgorund İmages */
.section-a {
    background-image: url('../img/Togg.jpg');
}

.section-b {
    background-image: url('../img/teslay.webp');
}

.section-c {
    background-image: url('../img/konaelektrik.jpg');
}

.section-d {
    background-image: url('../img/eqs.jpg');
}

.section-e {
    background-image: url('../img/bmw\ i3.jpg');
}

.section-f {
    background-image: url('../img/renault_zoe.jpg');
}

.section-i {
    background-image: url('../img/şj.jpg');
}

.btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    min-width: 130px;
    padding: 15px 50px;
    margin-top: 10px;
    border: 2px solid #fff;
    text-transform: uppercase;
    font-weight: bold;
    overflow: hidden;
    z-index: 2;
}

.btn:hover span {
    color: #000;
}

.btn .hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: #000;
    z-index: -1;
    transform: translateY(100%);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn:hover .hover {
    transform: translateY(0);
}

.scroll-arrow {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    animation: fadeBounce 5s infinite;
}

/* Footer */

footer {
    position: relative;
    padding: 55px 0;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer ul li {
    margin-right: 30px;
    color: #aaa;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 2.5;
}

footer ul li a {
    color: #fff;
    transition: color 0.6s;
}

footer ul li a:hover {
    color: #aaa;
}

/* Hamburger Menu */
.hamburger {
    position: fixed;
    top: 40px;
    right: 20px;
    z-index: 10;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    width: 20px;
    height: 2px;
    top: 0;
    left: 0;
    background: #fff;
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(5px);
}

.hamburger-bottom {
    transform: translateY(10px);
}

/* Transition hamburger to X when open */
.open {
    transform: rotate(90deg);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* Overlay */

.overlay-show {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

/* Stop body scroll */
.stop-scrolling {
    overflow: hidden;
}

/* Hide mobile main menu items */

.mobile-only {
    display: none;
}

/* Mobile Menu */

.mobile-main-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    height: 100%;
    background: #000;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

/* Bring menu from right */
.show-menu{
    transform: translateX(0);
}

.mobile-main-menu ul {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding: 50px;
    width: 100%;
}

.mobile-main-menu ul li {
    margin-bottom: 20px;
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 1px #555 dotted;
    width: 100%;
    text-align: right;
    padding-bottom: 8px;
}

.mobile-main-menu ul li a {
    color: #fff;
    transition: color 0.6s;
}

.mobile-main-menu ul li a:hover {
    color: #aaa;
}

/* Inner  Pages */
.bg-falcon-9 {
    background-image: url('../img/togg1.webp');
}

.bg-falcon-heavy {
    background-image: url('../img/tes.jpg');
}

.bg-dragon {
    background-image: url('../img/ioniq5-ne.jpg');
}

.renault-zoe {
    background-image: url('../img/zzoe.jpg');
}

.bmw {
    background-image: url('../img/bmw4.png');
}

.merso {
    background-image: url('../img/mercedes-eq.avif');
}

.map {
    background-image: url('../img/şar.jpg');
}

.ami {
    background-image: url('../img/ami.jpg');
}

.ce {
    background-image: url('../img/ce.jpg');
}

.honda {
    background-image: url('../img/hondae.webp');
}

.kia {
    background-image: url('../img/EV6_CV-22my-wide-exterior-01.avif');
}

.toggs {
    background-image: url('../img/togsed.jpeg');
}

.section-animate {
    animation: fadeIn 2s ease-in-out;
}

.section-inner-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;
    width: 80%;
}

.section-inner-center button {
    font-size: 12px;
    animation: fadeInUp 0.5s ease-in-out 0.2s;
    animation-fill-mode: both;
    width: 50px;
    height: 30px;
}

.section-inner-center h3 {
    font-size: 100px;
    margin-bottom: 15px;
    animation: fadeInUp 0.5s ease-in-out;
}

.section-inner-center p {
    font-size: 20px;
    animation: fadeInUp 0.5s ease-in-out 0.2s;
    animation-fill-mode: both;
}

/* Stats */

.stats {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    text-transform: uppercase;
}

.stats div span {
    font-size: 160px;
}

.stats div h4 {
    font-size: 24px;
    font-weight: 300;
}

/* Animations */

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(140px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeBounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }

    40% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Media Queries */

@media(max-width: 960px) {

    /* Hide desktop menu */
    .desktop-main-menu {
        display: none;
    }

    /* Show main mobile items */
    .mobile-only {
        display: block;
    }

    .section-inner-center h3 {
        font-size: 75px;
    }
}

@media(max-width: 600px) {
    .section-inner {
        bottom: 75px;
        left: 20px;
    }

    .section-inner h2 {
        font-size: 40px;
    }

    footer ul li:first-child {
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    footer ul li {
        margin-right: 15px;
    }

    .logo {
        width: 150px;
        margin: auto;
    }

    .section-inner-center h3 {
        font-size: 50px;
    }

    /* Stats */
    .stats {
        flex-direction: column;
    }

    .stats div {
        margin-bottom: 20px;
    }
}

/* İletişim formu */
form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  label,
  input,
  textarea {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
  }
  
  label {
    font-weight: bold;
  }
  
  input,
  textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
  }

  /* Şarj Map */ 

.map-container {
    width: 100%;
    max-width: 900px;
    margin: 20px auto;
}

.map-container iframe {
    width: 100%;
    height: 450px;
    border: 0;
}